/*
 *  Owl Carousel - Core
 */

.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  -moz-backface-visibility: hidden;
  /* fix firefox animation glitch */
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}

.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */

.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Animate Plugin
 */

.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  animation-name: fadeOut;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*
 * 	Owl Carousel - Auto Height Plugin
 */

.owl-height {
  transition: height 500ms ease-in-out;
}

/*
 * 	Owl Carousel - Lazy Load Plugin
 */

.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
}

/*
 * 	Owl Carousel - Video Plugin
 */

.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  transform: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}

/*
 * 	Default theme - Owl Carousel CSS File
 */

.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #D6D6D6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #869791;
  color: #FFF;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled+.owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 7px;
  background: #D6D6D6;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: #869791;
}

.animation {
  animation-duration: 0.75s;
  -moz-animation-duration: 0.75s;
  -webkit-animation-duration: 0.75s;
  -o-animation-duration: 0.75s;
  animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-direction: normal;
  -moz-animation-direction: normal;
  -webkit-animation-direction: normal;
  -o-animation-direction: normal;
  animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-play-state: initial;
  -moz-animation-play-state: initial;
  -webkit-animation-play-state: initial;
  -o-animation-play-state: initial;
  animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -o-animation-delay: 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 0%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.owl-item.active .fadeIn {
  animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.owl-item.active .fadeIn-delay-1 {
  animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
}

.owl-item.active .fadeIn-delay-1-5 {
  animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
}

.owl-item.active .fadeIn-delay-2 {
  animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
}

.owl-item.active .fadeIn-delay-2-5 {
  animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
}

.owl-item.active .fadeIn-delay-3 {
  animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-delay: 3s;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
}

@keyframes fadeOut {
  from {
    opacity: 0;
    transform: translate3d(0, 0%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.owl-item.active .fadeOut {
  animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

.owl-item.active .fadeOut-delay-1 {
  animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
}

.owl-item.active .fadeOut-delay-1-5 {
  animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
}

.owl-item.active .fadeOut-delay-2 {
  animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
}

.owl-item.active .fadeOut-delay-2-5 {
  animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
}

.owl-item.active .fadeOut-delay-3 {
  animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-delay: 3s;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.owl-item.active .fadeInRight {
  animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}

.owl-item.active .fadeInRight-delay-1 {
  animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
}

.owl-item.active .fadeInRight-delay-1-5 {
  animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
}

.owl-item.active .fadeInRight-delay-2 {
  animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
}

.owl-item.active .fadeInRight-delay-2-5 {
  animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
}

.owl-item.active .fadeInRight-delay-3 {
  animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
  animation-delay: 3s;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.owl-item.active .fadeInLeft {
  animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

.owl-item.active .fadeInLeft-delay-1 {
  animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
}

.owl-item.active .fadeInLeft-delay-1-5 {
  animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
}

.owl-item.active .fadeInLeft-delay-2 {
  animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
}

.owl-item.active .fadeInLeft-delay-2-5 {
  animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
}

.owl-item.active .fadeInLeft-delay-3 {
  animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-delay: 3s;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.owl-item.active .fadeInDown {
  animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.owl-item.active .fadeInDown-delay-1 {
  animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
}

.owl-item.active .fadeInDown-delay-1-5 {
  animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
}

.owl-item.active .fadeInDown-delay-2 {
  animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
}

.owl-item.active .fadeInDown-delay-2-5 {
  animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
}

.owl-item.active .fadeInDown-delay-3 {
  animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  animation-delay: 3s;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

.owl-item.active .fadeInUp {
  animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.owl-item.active .fadeInUp-delay-1 {
  animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-delay: 1s;
  -moz-animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -o-animation-delay: 1s;
}

.owl-item.active .fadeInUp-delay-1-5 {
  animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
}

.owl-item.active .fadeInUp-delay-2 {
  animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-delay: 2s;
  -moz-animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
}

.owl-item.active .fadeInUp-delay-2-5 {
  animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
}

.owl-item.active .fadeInUp-delay-3 {
  animation-name: fadeInUp;
  -moz-animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  animation-delay: 3s;
  -moz-animation-delay: 3s;
  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
}

@font-face {
  font-family: 'r-futura';
  src: url("../fonts/r-futura/rfuturastd-bold-webfont.eot");
  src: url("../fonts/r-futura/rfuturastd-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/r-futura/rfuturastd-bold-webfont.woff2") format("woff2"), url("../fonts/r-futura/rfuturastd-bold-webfont.woff") format("woff"), url("../fonts/r-futura/rfuturastd-bold-webfont.ttf") format("truetype"), url("../fonts/r-futura/rfuturastd-bold-webfont.svg#r-futura_stdbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'r-futura';
  src: url("../fonts/r-futura/rfuturastd-boldoblique-webfont.eot");
  src: url("../fonts/r-futura/rfuturastd-boldoblique-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/r-futura/rfuturastd-boldoblique-webfont.woff2") format("woff2"), url("../fonts/r-futura/rfuturastd-boldoblique-webfont.woff") format("woff"), url("../fonts/r-futura/rfuturastd-boldoblique-webfont.ttf") format("truetype"), url("../fonts/r-futura/rfuturastd-boldoblique-webfont.svg#r-futura_stdbold_italic") format("svg");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'r-futura';
  src: url("../fonts/r-futura/rfuturastd-medium-webfont.eot");
  src: url("../fonts/r-futura/rfuturastd-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/r-futura/rfuturastd-medium-webfont.woff2") format("woff2"), url("../fonts/r-futura/rfuturastd-medium-webfont.woff") format("woff"), url("../fonts/r-futura/rfuturastd-medium-webfont.ttf") format("truetype"), url("../fonts/r-futura/rfuturastd-medium-webfont.svg#r-futura_stdmedium") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'r-futura';
  src: url("../fonts/r-futura/rfuturastd-mediumoblique-webfont.eot");
  src: url("../fonts/r-futura/rfuturastd-mediumoblique-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/r-futura/rfuturastd-mediumoblique-webfont.woff2") format("woff2"), url("../fonts/r-futura/rfuturastd-mediumoblique-webfont.woff") format("woff"), url("../fonts/r-futura/rfuturastd-mediumoblique-webfont.ttf") format("truetype"), url("../fonts/r-futura/rfuturastd-mediumoblique-webfont.svg#r-futura_stdmedium_oblique") format("svg");
  font-weight: normal;
  font-style: italic;
}

.carrusel {
  overflow: hidden;
  position: relative;
  padding-bottom: 30px;
  background-color: white;
  font-family: "r-futura";
}

@media only screen and (min-width: 0px) {
  .carrusel {
    background-color: red;
  }
}

@media only screen and (min-width: 576px) {
  .carrusel {
    background-color: green;
  }
}

@media only screen and (min-width: 768px) {
  .carrusel {
    background-color: blue;
  }
}

@media only screen and (min-width: 992px) {
  .carrusel {
    background-color: grey;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel {
    background-color: pink;
  }
}

.carrusel .owl-dots {
  display: flex;
  overflow: hidden;
  padding: 0;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
}

.carrusel .owl-dots .owl-dot {
  background: rgba(0, 0, 0, 0.4);
  width: 10px;
  height: 10px;
  margin: 0 2px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

.carrusel .owl-dots .owl-dot.active {
  background: rgba(0, 0, 0, 0.75);
}

.carrusel .owl-nav {
  z-index: 100;
}

.carrusel .owl-nav .owl-prev,
.carrusel .owl-nav .owl-next {
  width: 20px;
  height: 38px;
  margin-top: -19px;
  display: block !important;
  overflow: hidden;
  text-indent: -9999px;
  position: absolute;
  top: 50%;
  background-size: 100%;
}

.carrusel .owl-nav .owl-prev {
  background: transparent url(../assets/prev.svg) 0 0 no-repeat;
  left: 5px;
}

.carrusel .owl-nav .owl-next {
  background: transparent url(../assets/right.svg) 0 0 no-repeat;
  right: 5px;
}

.carrusel .owl-item assets {
  width: inherit;
}

.carrusel p,
.carrusel h4,
.carrusel h3,
.carrusel h2 {
  margin: 0;
}

.carrusel h4 {
  line-height: 0.75;
}

.carrusel h6 {
  font-size: 0.75rem;
}

.carrusel p {
  font-size: 13px;
  /*@media only screen and (min-width: 768px)
     * font-size: 16px */
}

.carrusel .hrow,
.carrusel .hrow-1,
.carrusel .hrow-2,
.carrusel .hrow-3,
.carrusel .hrow-4,
.carrusel .hrow-5,
.carrusel .hrow-6,
.carrusel .hrow-7,
.carrusel .hrow-8,
.carrusel .hrow-9,
.carrusel .hrow-10,
.carrusel .hrow-11,
.carrusel .hrow-12 {
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow,
  .carrusel .hrow-1,
  .carrusel .hrow-2,
  .carrusel .hrow-3,
  .carrusel .hrow-4,
  .carrusel .hrow-5,
  .carrusel .hrow-6,
  .carrusel .hrow-7,
  .carrusel .hrow-8,
  .carrusel .hrow-9,
  .carrusel .hrow-10,
  .carrusel .hrow-11,
  .carrusel .hrow-12 {
    height: 400px !important;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow,
  .carrusel .hrow-1,
  .carrusel .hrow-2,
  .carrusel .hrow-3,
  .carrusel .hrow-4,
  .carrusel .hrow-5,
  .carrusel .hrow-6,
  .carrusel .hrow-7,
  .carrusel .hrow-8,
  .carrusel .hrow-9,
  .carrusel .hrow-10,
  .carrusel .hrow-11,
  .carrusel .hrow-12 {
    height: 440px !important;
  }
}

.carrusel .hrow-1 {
  height: 31.6666666667px;
}

.carrusel .hrow-2 {
  height: 63.3333333333px;
}

.carrusel .hrow-3 {
  height: 95px;
}

.carrusel .hrow-4 {
  height: 126.6666666667px;
}

.carrusel .hrow-5 {
  height: 158.3333333333px;
}

.carrusel .hrow-6 {
  height: 190px;
}

.carrusel .hrow-7 {
  height: 221.6666666667px;
}

.carrusel .hrow-8 {
  height: 253.3333333333px;
}

.carrusel .hrow-9 {
  height: 285px;
}

.carrusel .hrow-10 {
  height: 316.6666666667px;
}

.carrusel .hrow-11 {
  height: 348.3333333333px;
}

.carrusel .hrow-12 {
  height: 380px;
}

.carrusel .hrow-md-1 {
  height: 31.6666666667px;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow-md-1 {
    height: 33.3333333333px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow-md-1 {
    height: 36.6666666667px !important;
  }
}

.carrusel .hrow-md-2 {
  height: 63.3333333333px;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow-md-2 {
    height: 66.6666666667px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow-md-2 {
    height: 73.3333333333px !important;
  }
}

.carrusel .hrow-md-3 {
  height: 95px;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow-md-3 {
    height: 100px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow-md-3 {
    height: 110px !important;
  }
}

.carrusel .hrow-md-4 {
  height: 126.6666666667px;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow-md-4 {
    height: 133.3333333333px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow-md-4 {
    height: 146.6666666667px !important;
  }
}

.carrusel .hrow-md-5 {
  height: 158.3333333333px;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow-md-5 {
    height: 166.6666666667px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow-md-5 {
    height: 183.3333333333px !important;
  }
}

.carrusel .hrow-md-6 {
  height: 190px;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow-md-6 {
    height: 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow-md-6 {
    height: 220px !important;
  }
}

.carrusel .hrow-md-7 {
  height: 221.6666666667px;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow-md-7 {
    height: 233.3333333333px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow-md-7 {
    height: 256.6666666667px !important;
  }
}

.carrusel .hrow-md-8 {
  height: 253.3333333333px;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow-md-8 {
    height: 266.6666666667px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow-md-8 {
    height: 293.3333333333px !important;
  }
}

.carrusel .hrow-md-9 {
  height: 285px;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow-md-9 {
    height: 300px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow-md-9 {
    height: 330px !important;
  }
}

.carrusel .hrow-md-10 {
  height: 316.6666666667px;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow-md-10 {
    height: 333.3333333333px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow-md-10 {
    height: 366.6666666667px !important;
  }
}

.carrusel .hrow-md-11 {
  height: 348.3333333333px;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow-md-11 {
    height: 366.6666666667px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow-md-11 {
    height: 403.3333333333px !important;
  }
}

.carrusel .hrow-md-12 {
  height: 380px;
}

@media only screen and (min-width: 768px) {
  .carrusel .hrow-md-12 {
    height: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .carrusel .hrow-md-12 {
    height: 440px !important;
  }
}

.carrusel .precio::first-letter {
  font-size: 1.5rem;
  vertical-align: middle;
}

.carrusel .opex,
.carrusel .opex-red,
.carrusel .opex-white {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  text-indent: -99999999px;
  font-size: 0;
}

.carrusel .opex-red {
  background: transparent url(../assets/opex-red.png) 0 0 no-repeat;
  background-size: 100%;
}

.carrusel .opex-white {
  background: transparent url(../assets/opex-white.png) 0 0 no-repeat;
  background-size: 100%;
}

.carrusel .marco {
  border-style: solid;
  border-width: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  position: absolute;
  z-index: 10;
  margin: 8px;
  pointer-events: none;
}

.carrusel .marco-ripley-a {
  -moz-border-image: -moz-linear-gradient(top, #ec607d 0%, #ffd419 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #ec607d 0%, #ffd419 100%);
  border-image: linear-gradient(to bottom, #ec607d 0%, #ffd419 100%);
  border-image-slice: 1;
}

.carrusel .marco-ripley-b {
  -moz-border-image: -moz-linear-gradient(top, #e94964 0%, #633f7b 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #e94964 0%, #633f7b 100%);
  border-image: linear-gradient(to bottom, #e94964 0%, #633f7b 100%);
  border-image-slice: 1;
}

.carrusel .marco-ripley-c {
  -moz-border-image: -moz-linear-gradient(top, #ae80b8 0%, #633f7b 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #ae80b8 0%, #633f7b 100%);
  border-image: linear-gradient(to bottom, #ae80b8 0%, #633f7b 100%);
  border-image-slice: 1;
}

.carrusel .marco-ripley-d {
  -moz-border-image: -moz-linear-gradient(top, #ffd419 0%, #633f7b 100%);
  -webkit-border-image: -webkit-linear-gradient(top, #ffd419 0%, #633f7b 100%);
  border-image: linear-gradient(to bottom, #ffd419 0%, #633f7b 100%);
  border-image-slice: 1;
}

.carrusel .marco-ripley-a-45 {
  -moz-border-image: -moz-linear-gradient(left, #ffd419 0%, #ec607d 50%, #e94964 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #ffd419 50%, #ec607d 0%, #e94964 100%);
  border-image: linear-gradient(to right, #ffd419 0%, #ec607d 50%, #e94964 100%);
  border-image-slice: 1;
}

.carrusel .marco-ripley-b-45 {
  -moz-border-image: -moz-linear-gradient(left, #633f7b 0%, #e94964 50%, #ffd419 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #633f7b 50%, #e94964 0%, #ffd419 100%);
  border-image: linear-gradient(to right, #633f7b 0%, #e94964 50%, #ffd419 100%);
  border-image-slice: 1;
}

.carrusel .marco-ripley-c-45 {
  -moz-border-image: -moz-linear-gradient(left, #e94964 0%, #ec607d 50%, #ae80b8 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #e94964 50%, #ec607d 0%, #ae80b8 100%);
  border-image: linear-gradient(to right, #e94964 0%, #ec607d 50%, #ae80b8 100%);
  border-image-slice: 1;
}

.carrusel .marco-ripley-d-45 {
  -moz-border-image: -moz-linear-gradient(left, #ec607d 0%, #ae80b8 50%, #633f7b 100%);
  -webkit-border-image: -webkit-linear-gradient(left, #ec607d 50%, #ae80b8 0%, #633f7b 100%);
  border-image: linear-gradient(to right, #ec607d 0%, #ae80b8 50%, #633f7b 100%);
  border-image-slice: 1;
}

.carrusel .bg-image,
.carrusel .bg-image-right,
.carrusel .bg-image-left {
  background-size: cover;
  background-repeat: no-repeat;
}

.carrusel .bg-image-right {
  background-position: center left;
}

.carrusel .bg-image-left {
  background-position: center right;
}

.carrusel .dcto {
  max-height: 50px;
  width: auto !important;
}

@media only screen and (min-width: 768px) {
  .carrusel .dcto {
    max-height: 75px;
  }
}

@media only screen and (min-width: 992px) {
  .carrusel .dcto {
    max-height: 100px;
  }
}

.carrusel .z-10 {
  z-index: 10;
}

.carrusel .z-20 {
  z-index: 20;
}

.carrusel .z-30 {
  z-index: 30;
}

.carrusel .z-40 {
  z-index: 40;
}

.carrusel .z-50 {
  z-index: 50;
}

.carrusel .z-60 {
  z-index: 60;
}

.carrusel .z-70 {
  z-index: 70;
}

.carrusel .z-80 {
  z-index: 80;
}

.carrusel .z-90 {
  z-index: 90;
}

.carrusel .z-100 {
  z-index: 100;
}

.carrusel .btn {
  width: 128px;
}

.carrusel .btn:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.carrusel .h-100,
.carrusel .h-75,
.carrusel .h-50,
.carrusel .h-25 {
  width: auto !important;
}

/*# sourceMappingURL=carrusel.css.map */